﻿@font-face {
    font-family: 'BebasNeue';
    src: url('font/bebasneue-webfont.eot');
    src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue-webfont.woff') format('woff'),
         url('font/bebasneue-webfont.ttf') format('truetype'),
         url('font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, p, ul, li, span, h1, h2, pre {
	padding:0;
	margin:0;
}

html {
	overflow-y:scroll;
}

body {
	background:#111;
	font-family:BebasNeue, Helvetica, Arial, sans-serif;
	font-weight:400;
}

#intro {
	color:#eee;
	font-size:36pt;
	padding:0;
	margin:0;
	font-weight:400;
}

#tom {
	color:#B8390E;
	font-size:48pt;
	padding:0;
	margin:0;
	font-weight:400;
}

h2 {
	font-weight:400;
	margin-bottom:32px;
	border-bottom: 4px solid #B8390F;
}

#header_background {	
	background:#161616;
}

#header {
	padding:40px 15px;
	width:930px;
	margin:0px auto;
	max-height:95px;
	line-height: 0.85;
}

p {
	padding:0;
	margin:0;
	font-weight:400;
}

#navbar {
	width:100%;
	height:50px;
	background:#B8390E;
}

#navbar table {
	width:960px;
	font-size:26pt;
	color:#ddd;
	margin:0 auto;
	text-align:center;
}

#navbar table td {
	height:50px;
	vertical-align:middle;
	padding-top:0px;
}

#content_background {
	width:100%;
	background:#111;
}

#content {
	width:960px;
	padding:15px 20px;
	margin:40px auto;
	color:#eee;
	font-weight:300;
	font-size:20pt;
	background-color:#161616;
}

#content p {
	font-family:Helvetica, Arial, sans-serif;
	font-size: 16pt;
	line-height: 1.3;
	padding:0px 36px;
}

#footer p {
	color:#eee;
	text-align:center;
	font-size:12pt;
	font-family:Helvetica, Arial, sans-serif;
	padding-bottom:32pt;
}

.orange {
	color:#B8390E;
}

#navbar a {
	color:#faf1ee;
	text-decoration:none;
}

#navbar a:hover {
	color:#fff;
	text-decoration:none;
}

.monospace {
	font-family:Consolas,"Courier New", Courier, monospace;
}

#content table {
	width:800px;
	font-family:Helvetica, Arial, sans-serif;
	border-collapse:collapse;
	font-size:14pt;
	margin:0 auto;
}

#content tr {
	vertical-align:top;
}

.first {
	width:300px;
}

.second {
	padding-bottom:40px;
	font-size:11pt;
}

.placementTitle {
	font-size:14pt;
}

.description {
	font-size:11pt;
}

#enterTable {
	margin:160px auto;
	width:960px;
}

#enterTable #td1 {
	line-height: 0.75;
}

#enterTable #td2 {
	text-align:right;
}

#enterTable #intro {
	font-size:54pt !important;
}

#enterTable #tom {
	font-size:72pt !important;
}

#enterTable a {
	font-size:128pt !important;
	color:#666;
	text-decoration:none;
}

#enterTable a:hover {
	color:#999;
}